
/* header and menu */

header{
margin-top:15px;
width:95%;
height:100px;
}

.main-nav ul{
  display: flex;
  grid-gap:5px;
  padding:15px;
  list-style:none;
  float:left;
}

.main-nav li{
  display: inline-block;
  text-decoration:none;
  padding:20px;
  flex-wrap: wrap;
}

.main-nav a{
text-decoration: none;
font-size:25px;
}


h1{
  font-size:2.5em;
  font-weight: 800px;
}


.my_name h2{
  font-size: 2.2em;
  font-weight: 800px;
  float:right;
  margin-top:35px;
  font-family:inherit;
  margin-left:25px;
}

.my_name h1,h2{
padding: 0;
margin:0;
}

hr{
  border-bottom: 3px solid #7d97ad;
  width:95%;
  margin-top:10px;
}

/*end header and menu*/
